/target
data_test/*.parquet
data_normal/*.parquet
data_more/*.parquet
data_much/*.parquet
data_analyze/*.parquet
data_precise/*.parquet
data_true/*.parquet
*.db

runs/
figs/
wandb/
__pycache__/

runs
figs
data_normal
data_more
data_test
